<?xml version="1.0"?>
<GlobalData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemData>
    <Star>
      <Name>Sunce</Name>
      <Radius>696000</Radius>
      <Color>
        <Red>1</Red>
        <Green>0.843137264</Green>
        <Blue>0</Blue>
        <Alpha>1</Alpha>
      </Color>
      <StartAngle>0</StartAngle>
      <DistanceFromCenter>0</DistanceFromCenter>
      <DaysForRevolution>0</DaysForRevolution>
      <HoursForRotation>0</HoursForRotation>
      <EclipticAngleX>0</EclipticAngleX>
      <EclipticInclination>0</EclipticInclination>
      <EclipticEccentrity>0</EclipticEccentrity>
      <Shinines>2.5</Shinines>
      <TiltAngleUP>0</TiltAngleUP>
      <TiltAngleX>0</TiltAngleX>
      <Planets>
        <PlanetData>
          <Name>Merkur</Name>
          <Radius>2439.64</Radius>
          <Color>
            <Red>0.776</Red>
            <Green>0.651</Green>
            <Blue>0.498</Blue>
            <Alpha>1</Alpha>
          </Color>
          <StartAngle>-30</StartAngle>
          <DistanceFromCenter>57909175</DistanceFromCenter>
          <DaysForRevolution>87.96</DaysForRevolution>
          <HoursForRotation>1407.51</HoursForRotation>
          <EclipticAngleX>0</EclipticAngleX>
          <EclipticInclination>7.0</EclipticInclination>
          <EclipticEccentrity>0.20563069</EclipticEccentrity>
          <Reflectivity>0.7</Reflectivity>
          <TiltAngleUP>0</TiltAngleUP>
          <TiltAngleX>0</TiltAngleX>
          <Satelites />
        </PlanetData>
        <PlanetData>
          <Name>Venus</Name>
          <Radius>6051.59</Radius>
          <Color>
            <Red>0.68</Red>
            <Green>0.38</Green>
            <Blue>0.11</Blue>
            <Alpha>1</Alpha>
          </Color>
          <StartAngle>0</StartAngle>
          <DistanceFromCenter>108208930</DistanceFromCenter>
          <DaysForRevolution>224.7</DaysForRevolution>
          <HoursForRotation>-5832.46</HoursForRotation>
          <EclipticAngleX>0</EclipticAngleX>
          <EclipticInclination>3.39</EclipticInclination>
          <EclipticEccentrity>0.00677323</EclipticEccentrity>
          <Reflectivity>0.3</Reflectivity>
          <TiltAngleUP>177.3</TiltAngleUP>
          <TiltAngleX>0</TiltAngleX>
          <Satelites />
        </PlanetData>
        <PlanetData>
          <Name>Earth</Name>
          <Radius>6378.1</Radius>
          <Color>
            <Red>0.33</Red>
            <Green>0.41</Green>
            <Blue>0.53</Blue>
            <Alpha>1</Alpha>
          </Color>
          <StartAngle>90</StartAngle>
          <DistanceFromCenter>149597890</DistanceFromCenter>
          <DaysForRevolution>365</DaysForRevolution>
          <HoursForRotation>24</HoursForRotation>
          <EclipticAngleX>0</EclipticAngleX>
          <EclipticInclination>0</EclipticInclination>
          <EclipticEccentrity>0.01671022</EclipticEccentrity>
          <Reflectivity>0.9</Reflectivity>
          <TiltAngleUP>23.45</TiltAngleUP>
          <TiltAngleX>0</TiltAngleX>
          <Satelites>
            <PlanetData>
              <Name>Moon</Name>
              <Radius>1737.1</Radius>
              <Color>
                <Red>1</Red>
                <Green>0.9607843</Green>
                <Blue>0.933333337</Blue>
                <Alpha>1</Alpha>
              </Color>
              <StartAngle>-170</StartAngle>
              <DistanceFromCenter>384399</DistanceFromCenter>
              <DaysForRevolution>1</DaysForRevolution>
              <HoursForRotation>24</HoursForRotation>
              <EclipticAngleX>0</EclipticAngleX>
              <EclipticInclination>19</EclipticInclination>
              <EclipticEccentrity>0.0549</EclipticEccentrity>
              <Reflectivity>0.5</Reflectivity>
              <TiltAngleUP>6.68</TiltAngleUP>
              <TiltAngleX>0</TiltAngleX>
              <Satelites/>
            </PlanetData>
          </Satelites>
        </PlanetData>
        <PlanetData>
          <Name>Mars</Name>
          <Radius>3397</Radius>
          <Color>
            <Red>0.87</Red>
            <Green>0.73</Green>
            <Blue>0.51</Blue>
            <Alpha>1</Alpha>
          </Color>
          <StartAngle>100</StartAngle>
          <DistanceFromCenter>227936640</DistanceFromCenter>
          <DaysForRevolution>686</DaysForRevolution>
          <HoursForRotation>25</HoursForRotation>
          <EclipticAngleX>0</EclipticAngleX>
          <EclipticInclination>1.85</EclipticInclination>
          <EclipticEccentrity>0.09341233</EclipticEccentrity>
          <Reflectivity>0.7</Reflectivity>
          <TiltAngleUP>25.19</TiltAngleUP>
          <TiltAngleX>0</TiltAngleX>
        </PlanetData>
        <PlanetData>
          <Name>Jupiter</Name>
          <Radius>71492.68</Radius>
          <Color>
            <Red>0.69</Red>
            <Green>0.56</Green>
            <Blue>0.36</Blue>
            <Alpha>1</Alpha>
          </Color>
          <StartAngle>-200</StartAngle>
          <DistanceFromCenter>778412010</DistanceFromCenter>
          <DaysForRevolution>4329</DaysForRevolution>
          <HoursForRotation>10</HoursForRotation>
          <EclipticAngleX>0</EclipticAngleX>
          <EclipticInclination>1.31</EclipticInclination>
          <EclipticEccentrity>0.04839266</EclipticEccentrity>
          <Reflectivity>0.8</Reflectivity>
          <TiltAngleUP>3.12</TiltAngleUP>
          <TiltAngleX>0</TiltAngleX>
          <Satelites>
            <PlanetData>
              <Name>Io</Name>
              <Radius>1815</Radius>
              <Color>
                <Red>0.99</Red>
                <Green>0.95</Green>
                <Blue>0.52</Blue>
                <Alpha>1</Alpha>
              </Color>
              <StartAngle>-170</StartAngle>
              <DistanceFromCenter>421600</DistanceFromCenter>
              <DaysForRevolution>1.1769</DaysForRevolution>
              <HoursForRotation>42.456</HoursForRotation>
              <EclipticAngleX>0</EclipticAngleX>
              <EclipticInclination>0.04</EclipticInclination>
              <EclipticEccentricity>0.0041</EclipticEccentricity>
              <Reflectivity>0.3</Reflectivity>
              <TiltAngleUP>0</TiltAngleUP>
              <TiltAngleX>0</TiltAngleX>
              <Satelites />
            </PlanetData>
			<PlanetData>
              <Name>Europa</Name>
              <Radius>1569</Radius>
              <Color>
                <Red>0.99</Red>
                <Green>0.95</Green>
                <Blue>0.52</Blue>
                <Alpha>1</Alpha>
              </Color>
              <StartAngle>-120</StartAngle>
              <DistanceFromCenter>670900</DistanceFromCenter>
              <DaysForRevolution>3.551181</DaysForRevolution>
              <HoursForRotation>85.2283</HoursForRotation>
              <EclipticAngleX>0</EclipticAngleX>
              <EclipticInclination>0.47</EclipticInclination>
              <EclipticEccentricity>0.009</EclipticEccentricity>
              <Reflectivity>0.5</Reflectivity>
              <TiltAngleUP>0</TiltAngleUP>
              <TiltAngleX>0</TiltAngleX>
              <Satelites />			  
            </PlanetData>
			<PlanetData>
              <Name>Ganymede</Name>
              <Radius>2634.1</Radius>
              <Color>
                <Red>0.99</Red>
                <Green>0.95</Green>
                <Blue>0.52</Blue>
                <Alpha>1</Alpha>
              </Color>
              <StartAngle>-120</StartAngle>
              <DistanceFromCenter>1070400</DistanceFromCenter>
              <DaysForRevolution>7.154553</DaysForRevolution>
              <HoursForRotation>171.709272</HoursForRotation>
              <EclipticAngleX>0</EclipticAngleX>
              <EclipticInclination>1.85</EclipticInclination>
              <EclipticEccentricity>0.0013</EclipticEccentricity>
              <Reflectivity>0.5</Reflectivity>
              <TiltAngleUP>0</TiltAngleUP>
              <TiltAngleX>0</TiltAngleX>
              <Satelites />			  
            </PlanetData>
			<PlanetData>
              <Name>Callisto</Name>
              <Radius>2410.3</Radius>
              <Color>
                <Red>0.99</Red>
                <Green>0.95</Green>
                <Blue>0.52</Blue>
                <Alpha>1</Alpha>
              </Color>
              <StartAngle>-120</StartAngle>
              <DistanceFromCenter>1882700</DistanceFromCenter>
              <DaysForRevolution>16.68902</DaysForRevolution>
              <HoursForRotation>400.53648</HoursForRotation>
              <EclipticAngleX>0</EclipticAngleX>
              <EclipticInclination>0.2</EclipticInclination>
              <EclipticEccentricity>0.0074</EclipticEccentricity>
              <Reflectivity>0.5</Reflectivity>
              <TiltAngleUP>0</TiltAngleUP>
              <TiltAngleX>0</TiltAngleX>
              <Satelites />			  
            </PlanetData>
          </Satelites>
		  <Rings>
		   <Ring>
              <InnerRadius>92000</InnerRadius>
              <OuterRadius>122500</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>122500</InnerRadius>
              <OuterRadius>129000</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>129000</InnerRadius>
              <OuterRadius>182000</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>129000</InnerRadius>
              <OuterRadius>226000</OuterRadius>
            </Ring>
		   </Rings>
        </PlanetData>
        <PlanetData>
          <Name>Saturn</Name>
          <Radius>60267.14</Radius>
          <Color>
            <Red>0.99</Red>
            <Green>0.69</Green>
            <Blue>0.41</Blue>
            <Alpha>1</Alpha>
          </Color>
          <StartAngle>100</StartAngle>
          <DistanceFromCenter>1426725400</DistanceFromCenter>
          <DaysForRevolution>10745.6</DaysForRevolution>
          <HoursForRotation>11</HoursForRotation>
          <EclipticAngleX>0</EclipticAngleX>
          <EclipticInclination>2.48</EclipticInclination>
          <EclipticEccentrity>0.05415060</EclipticEccentrity>
          <Reflectivity>0.8</Reflectivity>
          <TiltAngleUP>26.79</TiltAngleUP>
          <TiltAngleX>0</TiltAngleX>
          <Rings>
            <Ring>
              <InnerRadius>66900</InnerRadius>
              <OuterRadius>74510</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>74658</InnerRadius>
              <OuterRadius>92000</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>117580</InnerRadius>
              <OuterRadius>122170</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>122170</InnerRadius>
              <OuterRadius>136775</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>136775</InnerRadius>
              <OuterRadius>139380</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>140180</InnerRadius>
              <OuterRadius>140220</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>149000</InnerRadius>
              <OuterRadius>154000</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>170000</InnerRadius>
              <OuterRadius>175000</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>194230</InnerRadius>
              <OuterRadius>194235</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>197665</InnerRadius>
              <OuterRadius>197670</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>211000</InnerRadius>
              <OuterRadius>213000</OuterRadius>
            </Ring>
          </Rings>
          <Satelites>
            <PlanetData>
              <Name>Mimas</Name>
              <Radius>198.3</Radius>
              <Color>
                <Red>0.60</Red>
                <Green>0.60</Green>
                <Blue>0.60</Blue>
                <Alpha>1</Alpha>
              </Color>
              <StartAngle>-20</StartAngle>
              <DistanceFromCenter>185520</DistanceFromCenter>
              <DaysForRevolution>0.942422</DaysForRevolution>
              <HoursForRotation>22.61</HoursForRotation>
              <EclipticAngleX>0</EclipticAngleX>
              <EclipticInclination>1.51</EclipticInclination>
              <EclipticEccentricity>0.0074</EclipticEccentricity>
              <Reflectivity>0.3</Reflectivity>
              <TiltAngleUP>0</TiltAngleUP>
              <TiltAngleX>0</TiltAngleX>
              <Satelites />
            </PlanetData>
            <PlanetData>
              <Name>Enceladus</Name>
              <Radius>252.1</Radius>
              <Color>
                <Red>0.58</Red>
                <Green>0.58</Green>
                <Blue>0.57</Blue>
                <Alpha>1</Alpha>
              </Color>
              <StartAngle>60</StartAngle>
              <DistanceFromCenter>237948</DistanceFromCenter>
              <DaysForRevolution>1.370218</DaysForRevolution>
              <HoursForRotation>32.885232</HoursForRotation>
              <EclipticAngleX>0</EclipticAngleX>
              <EclipticInclination>0.02</EclipticInclination>
              <EclipticEccentricity>0.0047</EclipticEccentricity>
              <Reflectivity>0.5</Reflectivity>
              <TiltAngleUP>0</TiltAngleUP>
              <TiltAngleX>0</TiltAngleX>
              <Satelites />
            </PlanetData>
            <PlanetData>
              <Name>Tethys</Name>
              <Radius>533</Radius>
              <Color>
                <Red>0.80</Red>
                <Green>0.71</Green>
                <Blue>0.62</Blue>
                <Alpha>1</Alpha>
              </Color>
              <StartAngle>50</StartAngle>
              <DistanceFromCenter>294619</DistanceFromCenter>
              <DaysForRevolution>1.887802</DaysForRevolution>
              <HoursForRotation>45.307248</HoursForRotation>
              <EclipticAngleX>0</EclipticAngleX>
              <EclipticInclination>1.51</EclipticInclination>
              <EclipticEccentricity>0.002</EclipticEccentricity>
              <Reflectivity>0.5</Reflectivity>
              <TiltAngleUP>0</TiltAngleUP>
              <TiltAngleX>0</TiltAngleX>
              <Satelites />
            </PlanetData>
            <PlanetData>
              <Name>Dione</Name>
              <Radius>561.7</Radius>
              <Color>
                <Red>0.46</Red>
                <Green>0.46</Green>
                <Blue>0.46</Blue>
                <Alpha>1</Alpha>
              </Color>
              <StartAngle>75</StartAngle>
              <DistanceFromCenter>377396</DistanceFromCenter>
              <DaysForRevolution>2.736915</DaysForRevolution>
              <HoursForRotation>65.68596</HoursForRotation>
              <EclipticAngleX>0</EclipticAngleX>
              <EclipticInclination>0.019</EclipticInclination>
              <EclipticEccentricity>0.002</EclipticEccentricity>
              <Reflectivity>0.5</Reflectivity>
              <TiltAngleUP>0</TiltAngleUP>
              <TiltAngleX>0</TiltAngleX>
              <Satelites />
            </PlanetData>
          </Satelites>
        </PlanetData>
		    <PlanetData>
          <Name>Uran</Name>
          <Radius>25557.25</Radius>
          <Color>
                <Red>0.79</Red>
                <Green>0.98</Green>
                <Blue>0.93</Blue>
            <Alpha>1</Alpha>
          </Color>
          <StartAngle>-170</StartAngle>
          <DistanceFromCenter>2870972200</DistanceFromCenter>
          <DaysForRevolution>30667.3</DaysForRevolution>
          <HoursForRotation>-17.232</HoursForRotation>
          <EclipticAngleX>0</EclipticAngleX>
          <EclipticInclination>0.76</EclipticInclination>
          <EclipticEccentrity>0.05415060</EclipticEccentrity>
          <Reflectivity>0.8</Reflectivity>
          <TiltAngleUP>97.86</TiltAngleUP>
          <TiltAngleX>0</TiltAngleX>
		  <Rings>
		   <Ring>
              <InnerRadius>32000</InnerRadius>
              <OuterRadius>37850</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>37000</InnerRadius>
              <OuterRadius>39500</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>37850</InnerRadius>
              <OuterRadius>41350</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>66100</InnerRadius>
              <OuterRadius>69900</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>86000</InnerRadius>
              <OuterRadius>103000</OuterRadius>
            </Ring>
		  </Rings>
        </PlanetData>
		    <PlanetData>
          <Name>Neptun</Name>
          <Radius>24766.36</Radius>
          <Color>
                <Red>0.38</Red>
                <Green>0.59</Green>
                <Blue>0.73</Blue>
            <Alpha>1</Alpha>
          </Color>
          <StartAngle>0</StartAngle>
          <DistanceFromCenter>4498252900</DistanceFromCenter>
          <DaysForRevolution>60148.35</DaysForRevolution>
          <HoursForRotation>16.11</HoursForRotation>
          <EclipticAngleX>0</EclipticAngleX>
          <EclipticInclination>1.77</EclipticInclination>
          <EclipticEccentrity>0.05415060</EclipticEccentrity>
          <Reflectivity>0.8</Reflectivity>
          <TiltAngleUP>29.58</TiltAngleUP>
          <TiltAngleX>0</TiltAngleX>
		  <Rings>
		   <Ring>
              <InnerRadius>40900</InnerRadius>
              <OuterRadius>42900</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>53180</InnerRadius>
              <OuterRadius>53220</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>53200</InnerRadius>
              <OuterRadius>57200</OuterRadius>
            </Ring>
            <Ring>
              <InnerRadius>62930</InnerRadius>
              <OuterRadius>62934</OuterRadius>
            </Ring>
		  </Rings>
        </PlanetData>
		    <PlanetData>
          <Name>Pluto</Name>
          <Radius>60267.14</Radius>
          <Color>
			      <Red>0.58</Red>
			      <Green>0.58</Green>
			      <Blue>0.58</Blue>
            <Alpha>1</Alpha>
          </Color>
          <StartAngle>-20</StartAngle>
          <DistanceFromCenter>5906380000</DistanceFromCenter>
          <DaysForRevolution>90490.8</DaysForRevolution>
          <HoursForRotation>-153.29</HoursForRotation>
          <EclipticAngleX>10.587</EclipticAngleX>
          <EclipticInclination>2.48</EclipticInclination>
          <EclipticEccentrity>0.08</EclipticEccentrity>
          <Reflectivity>0.3</Reflectivity>
          <TiltAngleUP>4</TiltAngleUP>
          <TiltAngleX>0</TiltAngleX>
        </PlanetData>
      </Planets>
    </Star>
  </SystemData>
  <Eye>
    <X>0</X>
    <Y>0</Y>
    <Z>700</Z>
  </Eye>
  <FOV>45.0</FOV>
  <Interval>72</Interval>
  <GlobalScale>100000</GlobalScale>
  <DistanceScale>0.2</DistanceScale>
  <MoonDistanceFix>70</MoonDistanceFix>
  <StarScale>10</StarScale>
  <PlanetScale>100</PlanetScale>
  <DrawCoordinates>true</DrawCoordinates>
  <WireFrames>false</WireFrames>
  <Tracking>false</Tracking>
</GlobalData>